.video-placeholder{
    background: #FFBF69;
    top: 0;
    align-content: center;
    padding: 50px;
}
.title{
    text-align: center;
}
.youTube{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 { text-align: center;} 
p1 {position: relative; 
    top: -250px; 
    left: 22%; }


  