.img1 {
    position: absolute;
    width: 102px;
    height: 54px;
    left: 10px;
    top: 10px;
}

.dropdown {
    position: relative;
  }
  
  .dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    list-style-type: none;
    text-decoration: none;
  }
  
  .dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}
  
  .dropdown-menu li {
    padding: 10px;
  }
  
  .dropdown-menu li:hover {
    background-color: #f2f2f2;
  }
  